extends layout

block content
 div.formContainer
  div.formWrapper#memberForm
   h1.form-header Become a member
   form(method='POST' action='')
    input#passcode(type='password', placeholder='Enter passcode' name='passcode')
    button.submitBtn(type='submit') Submit

   if err 
    div.errMsg= err
