extends layout

block content
 main#main-container
  if messages 
    each msg in messages 
     div.msg-cell
      div.msgTitle=msg.title 
      p.msgText=msg.text 
      div.creationInfo
       p.timeStamp=msg.formatted_date
       if (user && user.isMember)
        p.writer By #{msg.user.username}
       else 
        p.writer By  Unknown
   
