extends layout

block content
 main#main-container
  if messages 
    each msg in messages 
     div.msg-cell
      div.msgTitle=msg.title 
      p.msgText=msg.text 
      div.creationInfo 
       p.timeStamp <i class="fa-solid fa-clock"></i> #{msg.formatted_date}
       if (user && user.isMember)
        p.writer <i class="fa-solid fa-user"></i> #{msg.user.username}
       else 
        p.writer <i class="fa-solid fa-user"></i> Unknown
   
